body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #ff7e5f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.login-container button:hover {
  background: #e65c3c;
}
.login-btn {
  text-decoration: none;
  color: white;
  background: #333;
  padding: 6px 12px;
  border-radius: 5px;
}

.login-btn:hover {
  background: black;
}

#error {
  color: red;
  margin-top: 10px;
}